@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}

img {
  width: 160px;
  border-radius: 80px;
  display: block;
}

.heading {
  padding: 1rem;
  width: 500px;
  margin: 4.5rem auto 0;
}

.heading p {
  color: gray;
  font-size: 2rem;
  margin-block-end: 0;
  margin-block-start: 1rem;
}

p strong {
  color: darkcyan;
}

.primary-btn {
  text-decoration: none;
  border: 2px solid darkcyan;
  padding: 8px;
  color: darkcyan;
  border-radius: 0.5rem;
  font-weight: bold;
  transition-duration: 0.2s;
  display: inline-block;
}

.primary-btn:hover {
  color: white;
  background-color: darkcyan;
}

.about-me {
  padding: 0 1rem 1rem;
  width: 500px;
  margin: 0 auto 1rem;
  transition-duration: 0.2s;
}

.about-para {
  color: gray;
  margin-block-start: 0;
}

.about-head {
  color: darkcyan;
  margin-block-start: 0;
  margin-block-end: 0;
}

.section-uncolored {
  border: 2px solid darkcyan;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.5rem;
  color: gray;
}

section h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: darkcyan;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 1rem;
  max-width: 92vw;
  margin: 1rem auto;
}
